################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exemplo com Splitter/obj
/Exemplo com Splitter/bin/Debug/net8.0-windows
